{% extends "base.html" %}

{% block content %}

  <div class="info info-horizontal">
    <div class="icon icon-primary"><i class="material-icons">info</i></div>
    <div class="description">
      <h3 class="info-title">Welcome!</h3>
      <p>Welcome to this tiny corner of the internet!</p>
    </div>
  </div>

  <div>
    <h3>Latest Posts:</h3>
  </div>
  <div class="row">
  {% for article_set in articles | sort(reverse=true, attribute="date") | slice(3) %}
    <div class="col md-4">
      {% for article in article_set %}
        {# limit each column to max number of articles #}
        {% if loop.index <= 4 %}
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ article.title }}</h4>
              <div class="card-subtitle text-muted">
                Posted on {{ article.locale_date }} in <a href="{{ SITEURL }}/{{article.category.page_name}}.html">{{ article.category }}</a>
              </div>
            </div>
            <div class="card-footer">
              <div class="font-italic font-weight-light">{{ article.summary }}</div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  </div>

{% endblock content %}
