// Bootstrap brand color customization

/*     brand Colors              */

// -- Default values:
//$success:              $green-500 !default;
//$warning:              $orange-500 !default;
//$danger:               $red-500 !default;
//$inverse:              $black-color !default;

$primary:              $cm-primary;
$primary-fade:         #d9a067; // variation of copper from colorHexa
$info:                 $cm-dark;
$success:              $cm-success;
$warning:              $cm-warn;
$danger:               $cm-danger;
$rose:                 $pink-500 !default;
$inverse:              $cm-light;
