<div class="site-header">
    <a class="internal-link site-title" href="{{ site.baseurl }}/"><b>{{ site.title }}</b><span class="gauge-icon"></span></a>
    {% for static_file in site.static_files %}
        {% if static_file.path == page.category %}
            {% assign categoryFound = true %}
        {% endif %}
    {% endfor %}
    {% if page.category and (page.id != page.category) %}
       <span style="font-style:oblique; font-weight: lighter; display: block; color: gray;">
        Where am I? Oh yeah, this is a page under <a class="internal-link" href="{{ site.baseurl }}/{{ page.category }}">{{ page.category | downcase }}</a>.
        </span>
    {% endif %}
</div>
